body{
    background-color: rgb(214, 227, 209);
    align: center;
    margin: 0px 0px 0px 0px;
}

header{
    text-align: center;
    background:  url("images/leaves.jpg") center no-repeat;
    background-size: cover;
    padding-top: 150px;
}

#header-list{
    padding: 10px;
    background: rgba(239, 239, 239, 0.6)
}

li{
    display: inline;
    padding: 0px 10px 0px 10px;
}




p{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}




img{
    border: 5px double white;
}

#sixth-list{
    text-align: center;
}

#seventh-list{
    text-align: center;
}

#eighth-list{
    text-align: center;
}

#home{
    margin-right: 20%;
    margin-left: 20%;
}

#quote{
    margin: auto;
    display: block;
}

#dehli{
   text-align: center;
}

a{
    color: black;
}
